body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
    color: white;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #c084fc;
    text-shadow: 0 0 20px #9333ea;
}

h2 {
    color: #a78bfa;
    margin-top: 50px;
}

.hero {
    padding: 100px 20px;
}

.ip {
    font-size: 20px;
    margin: 15px 0;
}

button {
    background: linear-gradient(45deg, #7c3aed, #3b82f6);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px #7c3aed;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: rgba(255,255,255,0.05);
    border: 1px solid #7c3aed;
    padding: 30px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 0 15px #4c1d95;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #9333ea;
}
